* {
  box-sizing: border-box;
}

.anim {
    animation: slideLeft 1.5s;
}

.anim2 {
    animation: slideLeft 2s;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

body {
  margin: 0;
  background-color: white;
  font-family: "RocknRoll One", sans-serif;
  color: black;
}

.header {
  background-color: graytext;
  padding: 15px;
  color: white;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: graytext;
    color: white;
    text-decoration: none;
    list-style: none;    
}

.menu li:hover {
  background-color: gray;
}

li {
    color: white;
    text-decoration: none;
    list-style: none;  
}

a{
    color: white;
    text-decoration: none;
    list-style: none;  
}

a::after{
    transform: scale(1.1);
}

header::after {
    transform: scale(1.1);
}

.aside{
    background-color: white;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;      
}

.footer {
  background-color: graytext;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* Pour mobiles: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* Pour tablettes: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* Pour pc: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@keyframes slideLeft {
  from {
    transform: translateX(-1200px);
    opacity: 0.1;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
