* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "MA", sans-serif;
  color: black;
}

header {
  background-color: graytext;
  height: 100px;
  color: white;
}
a {
  text-decoration: none;
}

li {
  margin: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  float: left;
  padding: 33px 0 0 50px;
}

nav a {
  display: block;
  float: right;
  margin: 40px 50px 0 0;
  color: white;
}

.main {
  height: 900px;
}

.titlemain {
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 50px;
  animation: slideLeft 1.5s;   
}

@keyframes slideLeft {
  from {
    transform: translateX(-1200px);
    opacity: 0.1;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.prmain {
  text-align: center;
  margin: 0;
  padding: 0;
  animation: slideLeft 1.5s;
}

.thememain{
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
    font-size: 50px;
    animation: slideLeft 1.5s; 
}

.prtheme{
  text-align: center;
  margin: 0;
  padding: 50px 200px 0 200px;
  animation: slideleft 2.5s
}

footer {
  height: 79px;
  background-color: white;
  color: white;
}

.prfooter {
  padding: 30px 0 0 20px;
}

nav a:hover{
    transform: scale(1.1);
}
